.input {
	font-weight: bold;
	color: var(--font-color);
	flex-grow: 1;

	& > div {
		display: flex;
	}
}

/* ********** NUMBER ********** */
input[type=number] {
	appearance: textfield;
	flex-grow: 1;
	height: max(2rem, 100%);
	padding: 0px;
	border: 1px solid var(--font-color);
	text-align: center;
	display: block;
}
br {
	display: block;
	width: 100%;
}
.changeButton {
	width: max(2rem, 5%);
	height: max(2rem, 5%);
	font-size: 1rem;
	padding: 0px;
	border: 1px solid var(--font-color);
	display: block;
}
.changeButton__increment {
	background-color: transparent;
	color: var(--font-color);
	border-left: 2px solid var(--font-color);
}
.changeButton__decrement {
	background-color: transparent;
	color: var(--font-color);
	border-right: 2px solid var(--font-color);
}
/* ********** SELECT ********** */

