.input {
	width: 100% !important;
	height: 3rem !important;
	border: 2px solid var(--font-color) !important;
	border-radius: 20px !important;
	background-color: transparent !important;
	font-weight: bold !important;
	color: var(--font-color) !important;
	text-align: center !important;
}
.input .ant-input-group-addon {
	padding: 0px !important;
}
.input .ant-input-wrapper > * {
	border: 0px !important;
}
.numberInput > div {
	width: 100%;
}
.numberInput > h2 {
	flex-grow: 1;
	font-size: 1rem;
}
.input * {
	color: var(--font-color) !important;
	font-weight: bold !important;
}
.input input {
	width: 100% !important;
}
.changeButton {
	background-color: transparent !important;
	color: var(--font-color) !important;
	border: 0px !important;
	border-radius: 0px !important;
}
.changeButton__increment {
	border-left: 2px solid var(--font-color) !important;
}
.changeButton__decrement {
	border-right: 2px solid var(--font-color) !important;
}
