.header {
	vertical-align: top;
	display: flex;

	.backImg {
		height: min(5rem, 10vw);
		margin: auto min(1rem, 5vw) auto auto;
	}
	.logoImg {
		height: min(5rem, 10vw);
	}
	.pageTitle {
		margin: auto;
		text-align: center;
	}

	.menuImg {
		height: min(5rem, 10vw);
		display: block;
		margin-left: auto;
		margin-right: 0;
	}
}
