.header {
	vertical-align: top;
	display: flex;
}
.header .backImg {
	height: min(5rem, 10vw);
	margin: auto min(1rem, 5vw) auto auto;
}
.header .logoImg {
	width: min(5rem, 10vw);
	height: min(5rem, 10vw);
}
.header .pageTitle {
	margin: auto;
	text-align: center;
}
