.header {
	vertical-align: top;
	display: flex;
}
.header .backImg {
	height: 3rem;
	margin: auto 1rem auto auto;
}
.header .logoImg {
	width: 4rem;
	height: 4rem;
}
.header .pageTitle {
	margin: auto;
	text-align: center;
}
