.header {
	vertical-align: top;
	display: flex;
}
 .header .menuImg {
	display: block;
	width: 3rem;
	margin-left: auto;
	margin-right: 0;
	padding-top: 0.2rem;
}
.header .backImg {
	height: 3rem;
	margin: auto 1rem auto auto;
}
.header .logoImg {
	width: 4rem;
	height: 4rem;
}
.header .pageTitle {
	margin: auto;
	text-align: center;
}
