.input_checkbox {
	width: 100%;
	height: 30px;
	border: 4px solid var(--font-color);
	border-radius: 25px;
	background-color: red;
	color: var(--font-color);
	text-align: center;
}
.inputRow {
	border: 4px solid var(--font-color);
	& > * {
		flex-grow: 1;
	}
}
.tabButton {
	width: 50%;
	height: 4rem;
	border: 4px solid var(--font-color);
	color: var(--font-color);
	text-align: center;
	margin-top: 1%;

	&:first-of-type {
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	&:last-of-type {
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
	}
}
.tabButton {
	width: 50%;
	height: 4rem;
	border: 4px solid var(--font-color);
	color: var(--font-color);
	background-color: var(--background-color);
	text-align: center;
	margin-top: 1%;

	&:first-child {
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	&:last-child {
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
	}
}
.match_submit {
	width: 50%;
	min-width: 50%;
	height: 120px;
	border: 4px solid var(--font-color);
	border-radius: 25px;
	background-color: transparent;
	color: var(--font-color);
	text-align: center;
	margin-top: 1%;
	padding-top: 0;
}
#footer {
	padding-bottom: 1%;
	background-color: var(--background-color);
}
#footer button {
	float: left;
	background-color: var(--background-color);
	margin-left: auto;
}
.fieldTitle {
	text-align: center;
	width: 100%;
}
.noShowButton {
	width: 100%;
	height: min(15vw, 3rem);
	background-color: var(--background-color);
	color: var(--font-color);
	border: 2px solid var(--font-color);
	border-radius: 1rem;
	margin: 5% auto auto;
	font-size: 1.5rem;
}
.inputRow {
	display: flex;
}
.overrideOptions {
	font-size: 1.5rem;
	border: 2px solid var(--font-color);
	padding: 0.5rem;
	border-radius: 1rem;
}
