.textbox_input {
    width: 100%;
    min-height: 250px;
    border: 2px solid var(--font-color);
    border-radius: 1rem;
    background-color: #32A7DC;
    color: var(--font-color);
	background: transparent;
}
.ant-input-number .ant-input-number-input::placeholder {
	color: var(--font-color);
	font-weight: bold;
	opacity: 1.0;
}
#robotImageInput {
	display: none;
}
.robotImageLabel {
	display: block;
	border: 2px solid var(--font-color);
	border-radius: 5px;
	height: 100px;
	width: 100%;
	text-align: center;
}
.input_checkbox {
    width: 100%;
	height: 3rem;
    border: 2px solid var(--font-color);
    border-radius: 25px;
    background-color: red;
    font-weight: bold;
}
