:root {
	--background-color: #32a7dc;
	--background-color: #000000;
	--font-color: #ffffff;
}

* {
	/*font-family: Audiowide !important;*/
	font-family: Arial, sans-serif !important;
	color: var(--font-color) !important;
}
body {
	margin: auto;
	padding-left: 5%;
	padding-right: 5%;
	color: var(--font-color);
	background-color: var(--background-color);
	min-height: 100vh;
}
@media (aspect-ratio >= 1/1) and (width >= 80vh) and (height >= 800px) {
	body {
		max-width: 80vh
	}
}

#root {
	width: 100%;
	height: 100%;
}

form:has(+ footer) {

}

h2 {
	color: var(--font-color) !important;
	font-weight: bold !important;
	margin-bottom: 0 !important;
	margin: 0 !important;
}
h3 {
	color: var(--font-color) !important;
	font-weight: bold !important;
	margin-bottom: 0 !important;
}
a {
	text-decoration: none !important;
	color: var(--font-color) !important;
}
.ant-upload, .ant-upload-select {
	width: 100% !important;
}
.ant-upload-list-item-name {
	color: var(--font-color) !important;
}
.anticon-paper-clip, input[type="checkbox"], .ant-checkbox-inner, .anticon, .ant-tooltip, .ant-checkbox > div, .ant-wave {
	display: none !important;
}
.ant-upload-list-item-actions {
	padding-right: 5% !important;
}
footer {
	background-color: var(--background-color) !important;
	padding: 0 !important;
	border-top: 2px solid var(--font-color) !important;
}
.ant-btn-default:hover, .ant-input-outlined:hover {
	background-color: transparent !important;
}
.ant-tabs-ink-bar {
	height: 5px !important;
}
.ant-tabs-ink-bar-animated {
	transition: 0.25s !important;
}
input[type="number"]::-webkit-inner-spin-button, .ant-input-number-handler-wrap {
	opacity: 0.0 !important;
}
.ant-input {
	background-color: transparent !important;
}
.ant-form-item-control-input {
	height: fit-content !important;
}
.ant-input-number {
	background-color: var(--background-color) !important;
	font-weight: bold !important;
	color: var(--font-color) !important;
	text-align: center !important;
}
.ant-tabs-tab, .ant-tabs-tab-active{
	font-weight: bold !important;
	color: var(--font-color) !important;
}
.ant-checkbox-checked, .ant-checkbox-wrapper-checked {
	background-color: #61f761 !important;
}
.ant-input-number-input {
	font-weight: bold !important;
	color: var(--font-color) !important;
	text-align: center !important;
	padding: 0px !important;
}
.ant-form-item-explain-error {
	font-weight: bold !important;
	color: red !important;
	text-align: center !important;
}
.ant-select-item-option-content {
	font-weight: bold !important;
	text-align: center !important;
	color: black !important;
}
.ant-select-selection-placeholder, .ant-select-selection-item {
	min-height: 100% !important;
	color: var(--font-color) !important;
	font-weight: bold !important;
	align-items: center !important;
	display: inline-flex !important;
	justify-content: center !important;
	padding-right: 0px !important;
}
.ant-select-selector {
	width: 100% !important;
	background-color: transparent !important;
	border: 0px !important;
	text-align: center !important;
}
.ant-input-number-group-addon {
	padding: 0px !important;
}
.ant-checkbox, .ant-checkbox-wrapper {
	width: 100% !important;
	display: block !important;
}

.ant-tabs-nav-wrap::before, .ant-tabs-nav-wrap::after {
	display: none !important;
}
.ant-input-wrapper.ant-input-group {
	display: flex !important;
	height: 100% !important;

	& > *, & .changeButton {
		width: auto;
		height: 100% !important;
	}
	& > input {
		flex-grow: 1;
	}
}
.input-wrapper {
	display: block !important;
	flex-grow: 1 !important;
}
footer {
	margin-top: 0px;
}
.tabButton, .submitButton {
	width: 50%;
	height: auto;
	border: 2px solid var(--font-color) !important;
	border-radius: 10px;
	background-color: var(--background-color);
	font-size: 2rem !important;
	color: var(--font-color) !important;
	text-align: center !important;
	margin-top: 1%;
}
